// conda.enabled = true
resume = true
process {
  executor = 'slurm'
}
params {
  help = false
  genome = "hg38"
  input {
    dir = false
    sample_metadata_file = false
    sample_subset = false
    cell_subset = false
    split_by = false
  }
  output {
    dir = "$baseDir/output/"
  }
  filter {
    do_filtering = true
    doublets = true
    n_nuclei_per_gene {
      max = 5
    }
    nCount_RNA {
      max = 10000
      min = 300
    }
    nFeature_RNA {
      max = 10000
      min = 200
    }
    percent_mito {
      max = 0.1
      min = 0
    }
  }
  n_dims = false
  vars_to_regress = ["percent_mito", "nCount_RNA"]
  celltype_annotation {
    markers_file = false
    celltype_annotations_file = false
  }
  infercnv {
    reference_celltypes = false
    gene_order_file = false
  }
}