// default params
resume = true
conda.enabled = true
process {
  executor = 'slurm'
}
params {
  help = false
  genome = "hg38"
  input {
    dir = false
    sample_metadata_file = false
    summary_stats_file = false
    markers_file = false
  }
  output {
    dir = "$baseDir/output/"
  }
  filter {
    do_filtering = true
    sample_subset = false
    cell_subset = false
    doublets = true
    n_nuclei_per_gene {
      max = 5
    }
    nCount_RNA {
      max = 100000
      min = 0
    }
    nFeature_RNA {
      max = 100000
      min = 0
    }
    percent_mito {
      max = 100
      min = 0
    }
  }
  n_dims = false
  vars_to_regress = ["percent_mito", "nCount_RNA"]
}