params {
  input {
    run_all = false
    manifest_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/snRNAseq_workflow/input/ccRCC_PDOs/patient_manifest.tsv"
    sample_metadata_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/vhl/output/PDOs/sample_metadata.tsv"
  }
  filter {
    n_nuclei_per_gene.min = 5
    nCount_RNA.min = 300
    nCount_RNA.max = 60000
    nFeature_RNA.min = 200
    nFeature_RNA.max = 10000
    percent_mito.max = 15
  }
  output {
    dir = "$baseDir/output/ccRCC_PDOs/"
  }
  annotate {
    markers_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/renal_sc/data/processed/markers/markers.tsv"
  }
  infercnv {
    reference_samples = "K1030_GN106"
    gene_order_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/vhl/data/gencode/gencode.v43.basic.annotation_clean.bed"
  }
}