params {
  input {
    manifest_file = "/rds/general/user/art4017/home/snRNAseq_workflow/input/oesophageal_10X/sample_manifest.tsv"
    sample_metadata_file = "/rds/general/user/art4017/home/cellranger/output/sample_metadata.tsv"
  }
  filter {
    n_nuclei_per_gene.min = 5
    nCount_RNA.min = 300
    nCount_RNA.max = 10000
    nFeature_RNA.min = 200
    nFeature_RNA.max = 10000
    percent_mito.max = 15
  }
  output {
    dir = "$baseDir/output/oesophageal_10X/"
  }
  annotate {
    markers_file = "/rds/general/user/art4017/home/sc_studies/data/markers/consensus_markers.tsv"
  }
}