params {
  input {
    manifest_file = "/rds/general/user/art4017/home/snRNAseq_workflow/input/oesophageal_10X/sample_manifest.tsv"
    sample_metadata_file = "/rds/general/user/art4017/home/cellranger/output/sample_metadata.tsv"
  }
  filter {
    n_nuclei_per_gene.min = 5
    nCount_RNA.min = 'adaptive'
    nCount_RNA.max = 'adaptive'
    nFeature_RNA.min = 'adaptive'
    nFeature_RNA.max = 'adaptive'
    percent_mito.max = 15
  }
  output {
    dir = "$baseDir/output/oesophageal_10X/"
  }
  annotate {
    markers_file = "/rds/general/user/art4017/home/sc_studies/data/markers/consensus_markers.tsv"
    malignancy_score_file = "/rds/general/user/art4017/home/sc_studies/data/markers/32532891_2021_Zhang/malignancy_score.tsv"
  }
}