params {
  input {
    manifest_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/snRNAseq_workflow/input/VHL_ParseBio/patient_manifest.tsv"
    sample_metadata_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/parse_pipeline/expdata/230210_A01366_0351_AHNHCFDSX5/sample_metadata_reduced.tsv"
    run_all = false
  }
  filter {
    n_nuclei_per_gene.min = 5
    nCount_RNA.min = 300
    nCount_RNA.max = 10000
    nFeature_RNA.min = 200
    nFeature_RNA.max = 10000
    percent_mito.max = 15
  }
  output {
    dir = "$baseDir/output/VHL_ParseBio/"
  }
  annotate {
    markers_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/renal_sc/data/processed/markers/markers.tsv"
  }
  infercnv {
    gene_order_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/vhl/data/gencode/gencode.v43.basic.annotation_clean.bed"
  }
}