params {
  input {
    manifest = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/snRNAseq_workflow/input/manifest.tsv"
    sample_metadata_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/parse_pipeline/expdata/230210_A01366_0351_AHNHCFDSX5/sample_metadata_reduced.tsv,/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/parse_pipeline/expdata/221202_A01366_0326_AHHTTWDMXY/sample_metadata_reduced.tsv"
  }
  filter {
    n_nuclei_per_gene.min = 5
    nCount_RNA.min = 300
    nCount_RNA.max = 10000
    nFeature_RNA.min = 300
    nFeature_RNA.max = 10000
    percent_mito.max = 15
  }
  output {
    dir = "$baseDir/output/VHL_ParseBio/"
  }
  celltype_annotation {
    markers_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/renal_sc/data/processed/markers/markers.tsv"
    celltype_annotations_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/vhl/output/230210_A01366_0351_AHNHCFDSX5_x_221202_A01366_0326_AHHTTWDMXY/hg38/comb_x_SHE5052A9_S101/all-well/DGE_filtered/unintegrated/cluster_annotations.tsv"
  }
  infercnv {
    reference_celltypes = "endothelial,epithelial"
    gene_order_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/vhl/data/gencode/gencode.v43.basic.annotation_clean.bed"
  }
}