params {
  input {
    dir = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/parse_pipeline/analysis/230210_A01366_0351_AHNHCFDSX5/hg38/comb/all-well/DGE_filtered/,/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/parse_pipeline/analysis/221202_A01366_0326_AHHTTWDMXY/hg38/SHE5052A9_S101/all-well/DGE_filtered/"
    sample_metadata_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/parse_pipeline/expdata/230210_A01366_0351_AHNHCFDSX5/sample_metadata.tsv,/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/parse_pipeline/expdata/221202_A01366_0326_AHHTTWDMXY/sample_metadata.tsv"
  }
  output {
    dir = "$baseDir/output/VHL_ParseBio/"
  }
  celltype_annotation {
    markers_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/renal_sc/data/processed/markers/markers.tsv"
    celltype_annotations_file = "/nemo/project/proj-tracerX/working/VHL_GERMLINE/tidda/vhl/output/230210_A01366_0351_AHNHCFDSX5_x_221202_A01366_0326_AHHTTWDMXY/hg38/comb_x_SHE5052A9_S101/all-well/DGE_filtered/unintegrated/cluster_annotations.tsv"
  }
  infercnv {
    reference_celltypes = "endothelial,epithelial"
  }
}